{% extends "layout.html" %}

{% block content %}
  <h3>{{title}} <small>(<a href="{{urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="{{urlTitle}}">{{name}}</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div>
  <div class="page-body">{{content}}</div>
  <hr/>
  <a href="{{urlTitle}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{urlTitle}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}



<!-- [{"route":"/wiki/bash",
"title":"bash",
"urlTitle":"bash",
"content":"heyo",
"status":null,
"date":"2017-05-01T18:58:51.000Z",
"createdAt":"2017-05-01T18:58:51.919Z",
"updatedAt":"2017-05-01T18:58:51.919Z"}] -->